In [54]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings("ignore")

import re

In [2]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    
opciones.add_argument('--start-maximized')        
opciones.add_argument('user-data-dir=selenium')    
opciones.add_argument('--incognito')

In [71]:
driver = webdriver.Chrome("./chromedriver.exe")
url= "https://fxtop.com/es/lista-de-paises.php"
driver.get(url)
driver.implicitly_wait(5)
driver.find_element_by_css_selector("body > div > div.fc-dialog-container > div.fc-dialog.fc-choice-dialog > div.fc-footer-buttons-container > div.fc-footer-buttons > button.fc-button.fc-cta-consent.fc-primary-button").click()

dicc={"Countries":[],"Divisas":[],"Abrev":[]}

for i in range(2,245):
    dicc["Countries"].append(driver.find_element_by_css_selector(f"body > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(5) > td > table > tbody > tr:nth-child({i}) > td:nth-child(1)").text)
    dicc["Divisas"].append(driver.find_element_by_css_selector(f"body > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(5) > td > table > tbody > tr:nth-child({i}) > td:nth-child(3)").text)
    dicc["Abrev"].append(driver.find_element_by_css_selector(f"body > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td:nth-child(2) > table > tbody > tr:nth-child(5) > td > table > tbody > tr:nth-child({i}) > td:nth-child(4)").text)

driver.quit()

In [72]:
div=pd.DataFrame(dicc)

In [73]:
div.head()

        Countries               Divisas      Abrev
0       Martinica              EUR euro  EUR / EUR
1      Afganistán     AFN afgani afgano  EUR / AFN
2  África del Sur  ZAR rand sudafricano  EUR / ZAR
3         Albania       ALL lek albanés  EUR / ALL
4        Alemania              EUR euro  EUR / EUR

In [111]:
abr=[]
for fila in div.Abrev:
    abr.append(fila.split(" / ")[1])

In [113]:
div['Abrev']=abr

In [114]:
div.head()

        Countries               Divisas Abrev
0       Martinica              EUR euro   EUR
1      Afganistán     AFN afgani afgano   AFN
2  África del Sur  ZAR rand sudafricano   ZAR
3         Albania       ALL lek albanés   ALL
4        Alemania              EUR euro   EUR

In [149]:
prueba=re.findall("^[a-z]+","ALL lek albanés")

In [150]:
prueba

[]