In [82]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
import os
import sys
sys.path.append('../')
import src.geo_functions as gf

import requests
from dotenv import load_dotenv

import warnings
warnings.filterwarnings("ignore")
import json, ast

### HOTELES

In [109]:
url = "https://hotels-com-provider.p.rapidapi.com/v1/hotels/nearby"

querystring = {"latitude":"40.4167047","currency":"EUR","longitude":"-3.7035825","checkout_date":"2022-03-27","sort_order":"STAR_RATING_HIGHEST_FIRST","checkin_date":"2022-03-26","adults_number":"1","locale":"en_US","page_number":"1","price_min":"10","price_max":"500"}

headers = {
    'x-rapidapi-host': "hotels-com-provider.p.rapidapi.com",
    'x-rapidapi-key': "27104289acmshdfdd50d2d4f4075p10836ajsn9efff94d5873"
    }

response = requests.get(url, headers=headers, params=querystring)

res=json.loads(response.text)

In [116]:
res['searchResults']['results'][0]['name'] #Nombre

'VP Plaza España Design'

In [118]:
res['searchResults']['results'][0]['starRating'] #Categoría por estrellas

5.0

In [123]:
res['searchResults']['results'][0]['guestReviews']['rating'] #Valoración

'4.8'

In [127]:
res['searchResults']['results'][0]['ratePlan']['price']['current'] #precio

'247 €'

In [145]:
res['searchResults']['results'][0][ 'coordinate']['lat'] #latitud

40.42268

In [147]:
res['searchResults']['results'][0][ 'coordinate']['lon'] #longitud

-3.71181

In [156]:
load_dotenv()

True

In [172]:
url = "https://hotels-com-provider.p.rapidapi.com/v1/hotels/nearby"

querystring = {"latitude":"40.4167047","currency":"EUR","longitude":"-3.7035825","checkout_date":"2022-03-27","sort_order":"GUEST_RATING","checkin_date":"2022-03-26","adults_number":"1","locale":"en_US","page_number":"1","price_min":"10","price_max":"150"}

headers = {
    'x-rapidapi-host': "hotels-com-provider.p.rapidapi.com",
    'x-rapidapi-key': os.getenv("API_hotel")
    }

response = requests.get(url, headers=headers, params=querystring)

res=json.loads(response.text)

dicc={"Nombre":[],"Estrellas":[],"Valoración":[],"Precio(€)":[],"Latitud":[],"Longitud":[]}
for i in range(len(res)):
    dicc["Nombre"].append(res['searchResults']['results'][i]['name'])
    dicc["Estrellas"].append(res['searchResults']['results'][i]['starRating'])
    dicc["Valoración"].append(res['searchResults']['results'][i]['guestReviews']['rating'])
    dicc["Precio(€)"].append(res['searchResults']['results'][i]['ratePlan']['price']['current'])
    dicc["Latitud"].append(res['searchResults']['results'][i][ 'coordinate']['lat'])
    dicc["Longitud"].append(res['searchResults']['results'][i][ 'coordinate']['lon'])

In [173]:
hotels=pd.DataFrame(dicc)

In [174]:
hotels

,Nombre,Estrellas,Valoración,Precio(€),Latitud,Longitud
0,Apartosuites Jardines de Sabatini,3.0,4.8,117 €,40.420856,-3.714802
1,ARTIEM Madrid,4.0,4.8,79 €,40.442869,-3.648157
2,Artrip Hotel,2.0,4.8,135 €,40.407131,-3.700125
3,Catalonia Las Cortes Hotel,4.0,4.8,136 €,40.414670,-3.699430
4,Artistic B&B,3.0,4.8,104 €,40.413900,-3.698220
5,Arenal Suites Preciados,3.0,4.8,108 €,40.419610,-3.706790

In [175]:
hotels["Precio(€)"]=hotels["Precio(€)"].apply(lambda x: x.split("€")[0])

In [176]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nombre      6 non-null      object
 1   Estrellas   6 non-null      float64
 2   Valoración  6 non-null      object
 3   Precio(€)   6 non-null      object
 4   Latitud     6 non-null      float64
 5   Longitud    6 non-null      float64
dtypes: float64(3), object(3)
memory usage: 416.0+ bytes

In [177]:
hotels["Precio(€)"]=pd.to_numeric(hotels["Precio(€)"], downcast="float")

In [171]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nombre      6 non-null      object
 1   Estrellas   6 non-null      float64
 2   Valoración  6 non-null      object
 3   Precio(€)   6 non-null      float32
 4   Latitud     6 non-null      float64
 5   Longitud    6 non-null      float64
dtypes: float32(1), float64(3), object(2)
memory usage: 392.0+ bytes

In [178]:
hotels

,Nombre,Estrellas,Valoración,Precio(€),Latitud,Longitud
0,Apartosuites Jardines de Sabatini,3.0,4.8,117.0,40.420856,-3.714802
1,ARTIEM Madrid,4.0,4.8,79.0,40.442869,-3.648157
2,Artrip Hotel,2.0,4.8,135.0,40.407131,-3.700125
3,Catalonia Las Cortes Hotel,4.0,4.8,136.0,40.414670,-3.699430
4,Artistic B&B,3.0,4.8,104.0,40.413900,-3.698220
5,Arenal Suites Preciados,3.0,4.8,108.0,40.419610,-3.706790

In [179]:
hotels["Precio(€)"] = hotels["Precio(€)"].astype(int)

In [181]:
hotels["Estrellas"] = hotels["Estrellas"].astype(int)

In [182]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nombre      6 non-null      object
 1   Estrellas   6 non-null      int64
 2   Valoración  6 non-null      object
 3   Precio(€)   6 non-null      int64
 4   Latitud     6 non-null      float64
 5   Longitud    6 non-null      float64
dtypes: float64(2), int64(2), object(2)
memory usage: 416.0+ bytes

In [183]:
hotels

,Nombre,Estrellas,Valoración,Precio(€),Latitud,Longitud
0,Apartosuites Jardines de Sabatini,3,4.8,117,40.420856,-3.714802
1,ARTIEM Madrid,4,4.8,79,40.442869,-3.648157
2,Artrip Hotel,2,4.8,135,40.407131,-3.700125
3,Catalonia Las Cortes Hotel,4,4.8,136,40.414670,-3.699430
4,Artistic B&B,3,4.8,104,40.413900,-3.698220
5,Arenal Suites Preciados,3,4.8,108,40.419610,-3.706790

In [185]:
p="2022-03-27"+"1"

In [186]:
p

'2022-03-271'

In [194]:
from datetime import datetime

date_str = '10-27-2020'

dt_obj = datetime.strptime(date_str, '%m-%d-%Y').date()

print("The type of the date is now",  type(dt_obj))
print("The date is", dt_obj)

The type of the date is now <class 'datetime.date'>
The date is 2020-10-27

In [200]:
from datetime import datetime
from datetime import timedelta
import src.geo_functions as gf

In [201]:
def datatime(date_str):
    dt_obj = datetime.strptime(date_str, '%m-%d-%Y').date()
    return dt_obj

In [202]:
def api_request(city,date_str):
    coord=gf.get_coordenadas(city)
    check_in=datatime(date_str)
    check_out=check_in + timedelta(days=1)
    in_string=check_in.strftime("%Y-%m-%d")
    out_string=check_out.strftime("%Y-%m-%d")
    url = "https://hotels-com-provider.p.rapidapi.com/v1/hotels/nearby"
    querystring = {f"latitude":{coord[0]},"currency":"EUR","longitude":{coord[1]},"checkout_date":{out_string} ,"sort_order":"GUEST_RATING","checkin_date":{in_string},"adults_number":"1","locale":"en_US","page_number":"1","price_min":"10","price_max":"150"}
    headers = {
        'x-rapidapi-host': "hotels-com-provider.p.rapidapi.com",
        'x-rapidapi-key': os.getenv("API_hotel")
    }
    response = requests.get(url, headers=headers, params=querystring)
    res=json.loads(response.text)
    return res

In [203]:
api_request("Madrid","2022-03-26")

ValueError: time data '2022-03-26' does not match format '%m-%d-%Y'