In [ ]:
### BORRAR ESTE ARCHIVO

In [1]:
from dotenv import load_dotenv
import os
import sys
sys.path.append('../')

import src.geo_functions as gf
import src.flights_functions as ff

In [2]:
gf.strip_accents("Polinesia francés")

'Polinesia frances'

In [3]:
pr={"IATA":["MAD","AGP"],"Lugar":["Mádrid, España","Málaga, España"]}

In [2]:
gf.dicc_to_df()

../src/geo_functions.py:147: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.Cities=df.Lugar.apply(lambda x: x.split(",")[0])
../src/geo_functions.py:148: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.Countries=df.Lugar.apply(lambda x: x.split(",")[1])

    IATA              Countries                   Cities
0    AAA      Polinesia frances                     Anaa
1    AAD                Somalia                    Adado
2    AAE                Argelia                   Annaba
3    AAK               Kiribati                  Aranuka
4    AAL              Dinamarca                  Aalborg
..   ...                    ...                      ...
216  AZD                  Corri                     Yazd
217  AZN             Uzbekistan                 Andizhan
218  AZO         Estados Unidos                Kalamazoo
219  AZR                Argelia                    Adrar
220  AZS   Republica Dominicana  Santa Barbara de Samana

[221 rows x 3 columns]