In [1]:
import ast
import pandas as pd
from dotenv import load_dotenv
import os
import sys
sys.path.append('../')

import src.geo_functions as gf
import src.flights_functions as ff

In [6]:
df=gf.df_geonear("Madrid", 800)

/home/lydia/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

kms=list(df.City)

In [9]:
kms

['CÃ³rdoba',
 'Valencia',
 'Seville',
 'Andorra la Vella',
 'Lisbon',
 'Barcelona',
 'Algiers',
 'Rabat']

In [16]:
#lista_va=[]
#for k in kms:
    #print(k)
    #dest=ff.get_cheapest_price("Madrid",k,"2021-12-18")
    #lista_va.append(dest)

### IATA CODES:

In [3]:
df=gf.dicc_to_df()

../src/geo_functions.py:147: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.Cities=df.Lugar.apply(lambda x: x.split(",")[0])
../src/geo_functions.py:148: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.Countries=df.Lugar.apply(lambda x: x.split(",")[1])

In [5]:
df.sample(30)

     IATA         Countries                    Cities
1896  LUO            Angola                     Luena
2507  PMO            Italia                   Palermo
1105  GRY          Islandia                   Grimsey
219   AZR           Argelia                     Adrar
3129  TLM           Argelia                   Tlemcen
2139  MWQ   Myanmar (Burma)                    Magway
2925  SPS    Estados Unidos             Wichita Falls
1964  MCV         Australia  McArthur River zinc mine
1675  KSM    Estados Unidos                St. Mary s
3253  UCB             China                   Ulanqab
1110  GST    Estados Unidos                  Gustavus
797   DTW    Estados Unidos                   Detroit
1558  KGK    Estados Unidos                 Koliganek
3164  TOL    Estados Unidos                    Toledo
3361  VHC            Angola                   Saurimo
987   FUJ             Japon              Fukue Island
2786  SCQ            Espana    Santiago de Compostela
2326  OKR         Australia                     Yorke
1933  MAD            Espana                    Madrid
2548  PRC    Estados Unidos                  Prescott
1287  IAO         Filipinas                Del Carmen
1914  LXG              Laos              Luang Namtha
269   BFJ             China                     Bijie
1711  KVO            Serbia                  Kraljevo
267   BFF    Estados Unidos               Scottsbluff
3295  URA         Kazajstan                      Oral
982   FTA           Vanuatu                    Futuna
3353  VEE    Estados Unidos                   Venetie
175   ATD     Islas Salomon                    Atoifi
2055  MMG         Australia              Mount Magnet

In [6]:
not_spain=df[df["Countries"]!="Espana"]

In [7]:
spain=df[df["Countries"]=="Espana"]

In [8]:
not_spain["Cities"]=not_spain.Cities.apply(gf.translator)

In [9]:
not_spain["Countries"]=not_spain.Countries.apply(gf.translator)

In [12]:
IATA = pd.concat([not_spain,spain], axis=0)

In [21]:
IATA.to_csv("../Data/IATAlimpio.csv",index=False)

In [7]:
IATA=pd.read_csv("../Data/IATAlimpio.csv")

In [8]:
IATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3780 entries, 0 to 3779
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA       3780 non-null   object
 1   Countries  3780 non-null   object
 2   Cities     3765 non-null   object
dtypes: object(3)
memory usage: 88.7+ KB

In [9]:
IATA.Cities

0                       Anaa
1                      Adado
2                     Annaba
3                    Aranuka
4                    Aalborg
                ...
3775             Savannakhet
3776          Wollaston Lake
3777                   Zunyi
3778                  Sylhet
3779    Tymovskoye Zonalnoye
Name: Cities, Length: 3780, dtype: object

In [ ]:
location=IATA.Cities.apply(gf.get_coordenadas_tipo_point)

In [ ]:
IATA["Type Point"]=location

In [ ]:
IATA["Type Point"]=IATA["Type Point"].apply(lambda x: ast.literal_eval(x))

In [10]:
IATA.to_csv("../Data/IATAcoord.csv",index=False)

In [2]:
gf.insert_Mongo()