from geopy.geocoders import Nominatim
from geopy.distance import geodesic 

import pandas as pd
from pymongo import MongoClient
from pymongo import GEOSPHERE
import json
from bson.json_util import dumps

import os
import sys
sys.path.append('../')

import src.geo_functions as gf

### Mongo DB Connection:

In [6]:
client = MongoClient("localhost:27017")

In [8]:
db = client.get_database("Tu_viaje_ideal_en_un_click")

In [9]:
coordenadas = db["coordenadas"]
coordenadas.insert_many(lista_dicc)

In [10]:
db.coordenadas.create_index([("Coordinates", GEOSPHERE)]) # Creo el index 2dsphere.

'Coordinates_2dsphere'

### Getting a city coordinates:

In [20]:
gf.get_coordenadas("Madrid")

(40.4167047, -3.7035825)

###  Measuring distance between two cities:

In [3]:
gf.measure_distance("New York City","Perth")

18700.18740637394

### Geonear - first filter:

In [8]:
filtro1=gf.df_geonear("Madrid", 800)

/home/lydia/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
filtro1

               city    distance
1           Córdoba  296.349812
2          Valencia  302.541686
3           Seville  390.730701
4  Andorra la Vella  493.405569
5            Lisbon  502.899330
6         Barcelona  505.715110
7           Algiers  713.421915
8             Rabat  763.004667