In [1]:
import os
import sys
sys.path.append('../')
import src.geo_functions as gf
import src.hotels_functions as hf

from dotenv import load_dotenv

In [2]:
load_dotenv()

True

### HOTELS:

In [3]:
hoteles=hf.cleaning_hotel("Madrid","2022-03-26")

In [4]:
hoteles

,Nombre,Estrellas,Valoración,Precio(€),Latitud,Longitud
0,Apartosuites Jardines de Sabatini,3,4.8,117,40.420856,-3.714802
1,ARTIEM Madrid,4,4.8,79,40.442869,-3.648157
2,Artrip Hotel,2,4.8,135,40.407131,-3.700125
3,Catalonia Las Cortes Hotel,4,4.8,136,40.414670,-3.699430
4,Artistic B&B,3,4.8,104,40.413900,-3.698220
5,Arenal Suites Preciados,3,4.8,108,40.419610,-3.706790