### PROYECTO FINALüåé

In [3]:
import pandas as pd

#### Temperaturasüå°Ô∏è

In [4]:
temp=pd.read_csv("temperature.csv")

In [5]:
temp.head()

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
0,Algeria,Algiers,11.2\n(52.2),11.9\n(53.4),12.8\n(55.0),14.7\n(58.5),17.7\n(63.9),21.3\n(70.3),24.6\n(76.3),25.2\n(77.4),23.2\n(73.8),19.4\n(66.9),15.2\n(59.4),12.1\n(53.8),17.4\n(63.3),AFRICA
1,Algeria,Tamanrasset,12.8\n(55.0),15.0\n(59.0),18.1\n(64.6),22.2\n(72.0),26.1\n(79.0),28.9\n(84.0),28.7\n(83.7),28.2\n(82.8),26.5\n(79.7),22.4\n(72.3),17.3\n(63.1),13.9\n(57.0),21.7\n(71.1),AFRICA
2,Algeria,Reggane,16.0\n(60.8),18.2\n(64.8),23.1\n(73.6),27.9\n(82.2),32.2\n(90.0),36.4\n(97.5),39.8\n(103.6),38.4\n(101.1),35.5\n(95.9),29.2\n(84.6),22.0\n(71.6),17.8\n(64.0),28.3\n(82.9),AFRICA
3,Angola,Luanda,26.7\n(80.1),28.5\n(83.3),28.6\n(83.5),28.2\n(82.8),27.0\n(80.6),23.9\n(75.0),22.1\n(71.8),22.1\n(71.8),23.5\n(74.3),25.2\n(77.4),26.7\n(80.1),26.9\n(80.4),25.8\n(78.4),AFRICA
4,Benin,Cotonou,27.3\n(81.1),28.5\n(83.3),28.9\n(84.0),28.6\n(83.5),27.8\n(82.0),26.5\n(79.7),25.8\n(78.4),25.6\n(78.1),26.0\n(78.8),26.7\n(80.1),27.6\n(81.7),27.3\n(81.1),27.2\n(81.0),AFRICA

#### Limpo las columnas:

In [6]:
def clean_columns(x):
    return x.split("\n")[0]

In [7]:
months=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec","Year"]
for x in months:
    temp[x]=temp[x].apply(clean_columns)

In [8]:
temp.head()

,Country,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year,Continent
0,Algeria,Algiers,11.2,11.9,12.8,14.7,17.7,21.3,24.6,25.2,23.2,19.4,15.2,12.1,17.4,AFRICA
1,Algeria,Tamanrasset,12.8,15.0,18.1,22.2,26.1,28.9,28.7,28.2,26.5,22.4,17.3,13.9,21.7,AFRICA
2,Algeria,Reggane,16.0,18.2,23.1,27.9,32.2,36.4,39.8,38.4,35.5,29.2,22.0,17.8,28.3,AFRICA
3,Angola,Luanda,26.7,28.5,28.6,28.2,27.0,23.9,22.1,22.1,23.5,25.2,26.7,26.9,25.8,AFRICA
4,Benin,Cotonou,27.3,28.5,28.9,28.6,27.8,26.5,25.8,25.6,26.0,26.7,27.6,27.3,27.2,AFRICA

#### Compruebo que no hay nulos:

In [9]:
temp.isnull().sum()

Country      0
City         0
Jan          0
Feb          0
Mar          0
Apr          0
May          0
Jun          0
Jul          0
Aug          0
Sep          0
Oct          0
Nov          0
Dec          0
Year         0
Continent    0
dtype: int64

In [11]:
cities=list(temp.City.unique())

In [12]:
cities

['Algiers',
 'Tamanrasset',
 'Reggane',
 'Luanda',
 'Cotonou',
 'Parakou',
 'Kandi',
 'Maun',
 'Gaborone',
 'Ghanzi',
 'Ouagadougou',
 'Ouahigouya',
 'Bujumbura',
 'Garoua',
 'Ngaound√©r√©',
 'Douala',
 'Yaound√©',
 'Praia',
 'Bangui',
 'Birao',
 "N'Djamena",
 'Ab√©ch√©',
 'Kinshasa',
 'Lubumbashi',
 'Djibouti',
 'Cairo',
 'Alexandria',
 'Bata',
 'Malabo',
 'Asmara',
 'Assab',
 "Mek'ele",
 'Addis Ababa',
 'Libreville',
 'Port-Gentil',
 'Banjul',
 'Accra',
 'Tamale',
 'Kumasi',
 'Conakry',
 'Kankan',
 'Bissau',
 'Gagnoa',
 'Bouak√©',
 'Abidjan',
 'Odienn√©',
 'Mombasa',
 'Nairobi',
 'Garissa',
 'Lodwar',
 'Tripoli',
 'Benghazi',
 'Fianarantsoa',
 'Toamasina',
 'Antananarivo',
 'Antsiranana',
 'Mahajanga',
 'Toliara',
 'Karonga',
 'Blantyre',
 'Mzuzu',
 'S√©gou',
 'Timbuktu',
 'Bamako',
 'Nouadhibou',
 'Nouakchott',
 'Rabat',
 'Marrakesh',
 'Ouarzazate',
 'Maputo',
 'Niamey',
 'Lagos',
 'Makurdi',
 'Jos',
 'Kano',
 'Sokoto',
 'Brazzaville',
 'Pointe-Noire',
 'Dolisie',
 'Dakar',
 'Thi√®s',
 'Bosaso',
 'Hargeisa',
 'Mogadishu',
 'Pretoria',
 'Cape Town',
 'Johannesburg',
 'Bloemfontein',
 'Upington',
 'Durban',
 'Juba',
 'Wau',
 'Port Sudan',
 'Khartoum',
 'Dar es Salaam',
 'Zanzibar City',
 'Tabora',
 'Dodoma',
 'Lom√©',
 'Mango',
 'Tunis',
 'Gab√®s',
 'Kampala',
 'Entebbe',
 'Ndola',
 'Lusaka',
 'Livingstone',
 'Harare',
 'Bulawayo',
 'Kabul',
 'Baku',
 'Yerevan',
 'Manama',
 'Dhaka',
 'Phnom Penh',
 'Beijing',
 'Changsha',
 'Chongqing',
 'Guangzhou',
 'Harbin',
 'Kunming',
 'Lhasa',
 'Shanghai',
 '√úr√ºmqi',
 "Xi'an",
 'Yinchuan',
 'Dili',
 'Batumi',
 'Tbilisi',
 'Hong Kong',
 'New Delhi',
 'Kolkata',
 'Mumbai',
 'Jakarta',
 'Denpasar',
 'Jayapura',
 'Makassar',
 'Medan',
 'Palembang',
 'Pontianak',
 'Surabaya',
 'Baghdad',
 'Erbil',
 'Tehran',
 'Ahvaz',
 'Tabriz',
 'Tel Aviv',
 'Sapporo',
 'Niigata',
 'Tokyo',
 'Kyoto',
 'Hiroshima',
 'Fukuoka',
 'Naha',
 'Almaty',
 'Nur-Sultan',
 'Pyongyang',
 'Seoul',
 'Kuwait City',
 'Bishkek',
 'Vientiane',
 'Beirut',
 'Kuala Lumpur',
 'Mal√©',
 'Ulaanbaatar',
 'Mandalay',
 'Yangon',
 'Kathmandu',
 'Muscat',
 'Karachi',
 'Lahore',
 'Manila',
 'Dikson',
 'Irkutsk',
 'Novosibirsk',
 'Petropavlovsk-\nKamchatsky',
 'Vladivostok',
 'Yakutsk',
 'Abha',
 'Riyadh',
 'Singapore',
 'Colombo',
 'Damascus',
 'Dushanbe',
 'Taipei',
 'Bangkok',
 'Chiang Mai',
 'Hat Yai',
 'Nakhon Ratchasima',
 'Ankara',
 'Erzurum',
 'ƒ∞zmir',
 'Ashgabat',
 'Dubai',
 'Tashkent',
 'Da Lat',
 'Da Nang',
 'Hanoi',
 'Ho Chi Minh City',
 'Aden',
 "Sana'a",
 'Tirana',
 'Andorra la Vella',
 'Vienna',
 'Minsk',
 'Brussels',
 'Sarajevo',
 'Sofia',
 'Zagreb',
 'Split',
 'Nicosia',
 'Prague',
 'Copenhagen',
 'Tallinn',
 'Helsinki',
 'Kuopio',
 'Oulu',
 'Marseille',
 'Paris',
 'Berlin',
 'Frankfurt',
 'Piraeus',
 'Budapest',
 'Reykjav√≠k',
 'Dublin',
 'Milan',
 'Palermo',
 'Rome',
 'Napoli',
 'Riga',
 'Vaduz',
 'Vilnius',
 'Luxembourg City',
 'Skopje',
 'Valletta',
 'Chi»ôinƒÉu',
 'Monaco',
 'Podgorica',
 'Amsterdam',
 'Bergen',
 'Oslo',
 'Troms√∏',
 'Cracow',
 'Suwa≈Çki',
 'Warsaw',
 'Wroc≈Çaw',
 'Lisbon',
 'Bucharest',
 'Arkhangelsk',
 'Moscow',
 'Murmansk',
 'Rostov-on-Don',
 'Saint Petersburg',
 'Sochi',
 'City of San Marino',
 'Belgrade',
 'Bratislava',
 'Ljubljana',
 'Barcelona',
 'Las Palmas de Gran Canaria',
 'Madrid',
 'Seville',
 'Valencia',
 'Stockholm',
 'Z√ºrich',
 'Istanbul',
 'Kiev',
 'Lviv',
 'Odessa',
 'Edinburgh',
 'London',
 "St. John's",
 'Oranjestad',
 'Nassau',
 'Bridgetown',
 'Belize City',
 'Hamilton',
 'Calgary',
 'Edmonton',
 'Gjoa Haven',
 'Halifax',
 'Iqaluit',
 'Moncton',
 'Montreal',
 'Ottawa',
 'Saskatoon',
 'Toronto',
 'Vancouver',
 'Winnipeg',
 'Whitehorse',
 'Yellowknife',
 'George Town',
 'San Jos√©',
 'Havana',
 'Willemstad',
 'Roseau',
 'Santo Domingo',
 'Nuuk',
 'La Ceiba',
 'Tegucigalpa',
 'Kingston',
 'Cabo San Lucas',
 'Chihuahua',
 'Guadalajara',
 'La Paz',
 'Mexicali',
 'Mexico City',
 'Monterrey',
 'Tijuana',
 'Toluca',
 'Veracruz',
 'Villahermosa',
 'Managua',
 'Panama City',
 'San Salvador',
 'San Juan',
 'Saint-Pierre',
 'Albuquerque',
 'Anchorage',
 'Atlanta',
 'Austin',
 'Baltimore',
 'Boise',
 'Boston',
 'Charlotte',
 'Chicago',
 'Columbus',
 'Dallas',
 'Denver',
 'Detroit',
 'El Paso',
 'Fairbanks',
 'Fresno',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'Kansas City',
 'Las Vegas',
 'Lake Havasu City',
 'Los Angeles',
 'Louisville',
 'Memphis',
 'Miami',
 'Milwaukee',
 'Minneapolis',
 'Nashville',
 'New Orleans',
 'New York City',
 'Oklahoma\nCity',
 'Omaha',
 'Palm Springs',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Portland (OR)',
 'Sacramento',
 'Salt Lake\nCity',
 'San Antonio',
 'San Diego',
 'San\nFrancisco',
 'San Jose',
 'Seattle',
 'St. Louis',
 'Tampa',
 'Tucson',
 'Virginia\nBeach',
 'Washington,\nD.C.',
 'Wichita',
 'Adelaide',
 'Alice Springs',
 'Brisbane',
 'Cairns',
 'Canberra',
 'Dampier',
 'Darwin',
 'Hobart',
 'Melbourne',
 'Perth',
 'Sydney',
 'Hanga Roa',
 'Suva',
 'Auckland',
 'Christchurch',
 'Dunedin',
 'Lake Tekapo',
 'Napier',
 'Palmerston North',
 'Tauranga',
 'Wellington',
 'Port Moresby',
 'Honiara',
 'Honolulu',
 'Port Vila',
 'Bah√≠a Blanca',
 'Bariloche',
 'Buenos Aires',
 'Comodoro Rivadavia',
 'C√≥rdoba',
 'Mar del Plata',
 'Mendoza',
 'Neuqu√©n',
 'Resistencia',
 'R√≠o Gallegos',
 'Rosario',
 'Salta',
 'San Miguel\nde Tucum√°n',
 'Santiago del Estero',
 'Ushuaia',
 'Viedma',
 'Santa Cruz de la Sierra',
 'Sucre',
 'Bel√©m',
 'Belo Horizonte',
 'Bras√≠lia',
 'Campos do Jord√£o',
 'Curitiba',
 'Florian√≥polis',
 'Fortaleza',
 'Goi√¢nia',
 'Manaus',
 'Porto Alegre',
 'Recife',
 'Rio de Janeiro',
 'Salvador',
 'S√£o Joaquim',
 'S√£o Paulo',
 'Vit√≥ria',
 'Antofagasta',
 'Concepci√≥n',
 'La Serena',
 'Punta Arenas',
 'Santiago',
 'Bogot√°',
 'Barranquilla',
 'Medell√≠n',
 'Guayaquil',
 'Quito',
 'Stanley',
 'Cayenne',
 'Georgetown',
 'Asunci√≥n',
 'Cusco',
 'Lima',
 'Piura',
 'Paramaribo',
 'Montevideo',
 'Caracas']

In [8]:
### Museos: Selenium--> https://en.wikipedia.org/wiki/Category:Lists_of_museums_by_city

In [9]:
### Idiomas: Selenium--> https://www.edestinos.com.mx/consejos-para-viajeros/pasajes-de-avion/documentos-y-visa/idiomas-oficiales-de-cada-pais

In [ ]:
### Precio medio restaurantes: Selenium -->  Tripadvisor

In [ ]:
### Hoteles --> https://businessblog.trivago.com/trivago-hotel-price-index/

### Divisa: